{% extends 'base.html' %}

{% block titulo %}
Login
{% endblock %}

{% block conteudo %}

<div class="login-container">

    <h2>Login do Sistema</h2>

    <form method="POST">

        <div class="campo">
            <label>E-mail</label>
            <input type="email" placeholder="Digite seu e-mail">
        </div>

        <div class="campo">
            <label>Senha</label>
            <input type="password" placeholder="Digite sua senha">
        </div>

        <button type="submit">
            Entrar
        </button>

        <p class="erro">
            E-mail ou senha inválidos.
        </p>

    </form>

</div>

{% endblock %}