<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAPM</title>

    <link rel="stylesheet" href="/app/static/CSS/home.css">
</head>

<body>

<section class="hero">

    <div class="bg-circle top"></div>
    <div class="bg-circle bottom"></div>

    <div class="container">

        <!-- LEFT -->
        <div class="hero-left">

            <div class="logo">

                <img src="/app/static/IMG/logo.png" class="logo-img">

                <h1>AAPM</h1>

            </div>

            <div class="dots"></div>

            <h2>
                BEM VINDO <br>
                A AAPM!
            </h2>

            <div class="line"></div>

            <p>
                O melhor para seus estudos
                <strong>começa aqui!</strong>
            </p>

            <div class="infos">

                <div class="info-item">
                    <span>📖</span>
                    <p>Material de qualidade</p>
                </div>

                <div class="info-item">
                    <span>👥</span>
                    <p>Feito para estudantes</p>
                </div>

                <div class="info-item">
                    <span>🎯</span>
                    <p>Foco no seu futuro</p>
                </div>

            </div>

        </div>

        <!-- RIGHT -->
        <div class="hero-right">

            <img src="/app/static/IMG/camisa.png"
                 class="camiseta">

            <!-- CARD SENAI -->
            <div class="senai-card">

                <img src="/app/static/IMG/card.png"
                     alt="Card SENAI">

            </div>

            <!-- CARD SOBRE -->
            <div class="sobre-card">

                <h3>SOBRE A AAPM</h3>

                <p>
                    A AAPM existe para apoiar seu aprendizado,
                    oferecendo materiais selecionados e soluções
                    que fazem a diferença no seu dia a dia.
                </p>

            </div>

        </div>

    </div>

</section>

<script src="/app/static/JS/home.js"></script>

</body>
</html>
